@import url('https://fonts.cdnfonts.com/css/itc-benguiat-std');

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(172, 172, 172);
}

/* .body {
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  overflow-y: hidden;
} */

/* .app {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 8px;
  
  height: 100%;
  width: 100%;

  overflow: hidden;

  background: #444;
} */

header {
  display: flex;
  justify-content: end;
  /* grid-template-columns: 320px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 8px; */
  width: 100%;
  padding-bottom: 1.3rem;
  overflow: hidden;
  background: black;
  background-image: url("Stranger_Things.png");
  background-repeat: no-repeat;
  background-size: 200px 75px;
  position: absolute; top: 0;
}

header li{
  display: inline;
  align-items: baseline;
  padding: .5rem;
  list-style-type: none;
  color: white;
}

nav a, footer a{
  color: rgb(212, 65, 65);
  text-decoration: none;
  font-family: ITC Benguiat Std;
}

nav a:hover, footer a:hover {
  cursor: pointer;
    color: rgb(197, 60, 60);
    text-shadow:
        0 0 7px #b30404,
        0 0 10px #b90a0a,
        0 0 21px #ee0b0b,
        0 0 42px rgb(179, 71, 21),
        0 0 82px rgb(185, 49, 49),
        0 0 92px rgb(190, 65, 65),
        0 0 102px rgb(184, 79, 79),
        0 0 151px rgb(182, 87, 87);
}

.navi ul, .foot li {
  display: flex;
  right: 0;
  justify-content: end;
  margin-top: 1rem;
  color: rgb(212, 65, 65);
}

footer a{
  display: flex;
  justify-content: end;
  color: rgb(212, 65, 65);
  font-size: 15px;
  margin: 3px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 5px;
  position: aboslute; bottom: 0;
}

button {
  color: white;
  background-color: black;
  padding: 0.5rem;
  font-family: ITC Benguiat Std;
  border-radius: 2px;
}

button:hover, #cat-select:hover {
  cursor: pointer;
    color: rgb(197, 60, 60);
    text-shadow:
        0 0 7px #b30404,
        0 0 10px #b90a0a,
        0 0 21px #ee0b0b,
        0 0 42px rgb(179, 71, 21),
        0 0 82px rgb(185, 49, 49),
        0 0 92px rgb(190, 65, 65),
        0 0 102px rgb(184, 79, 79),
        0 0 151px rgb(182, 87, 87);
}

.init {
  color: rgb(197, 60, 60);
  text-shadow:
      0 0 7px #b30404,
      0 0 10px #b90a0a,
      0 0 21px #ee0b0b,
      0 0 42px rgb(179, 71, 21),
      0 0 82px rgb(185, 49, 49),
      0 0 92px rgb(190, 65, 65),
      0 0 102px rgb(184, 79, 79),
      0 0 151px rgb(182, 87, 87);
}

button[disabled] {
  position: absolute;
  left: -9999px;
  top: auto;
  overflow: hidden;
}

.contents {
 display: flex;
}

main {
  display: grid;
  place-items: center;
  width: 75%;
  background-color: lightgray;
  padding: 0.5rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

main div {
  border: 0.5px solid rgb(172, 172, 172);
  box-shadow: 0 0 4px gray;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  width: 100%;
}

.pfContainer {
  background-color: rgb(172, 172, 172);
  padding-left: 0.1rem;
  position: fixed;
  top: 7%;
  right: 0;
  width: 25%;
  margin-top: 2.1rem;
}

main h1, aside h2{
  margin-top: 1rem;
  text-align: center;
  font-family: ITC Benguiat Std;
}

aside p {
  font-size: 12px;
}

aside input {
  width: 97%;
}

aside button {
  display: block;
  margin: 0.5rem auto;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin: 0.5rem;
}

input[type="text"], input[type="password"] {
  flex: 1;
  padding: 5px;
  border-radius: 2px;
  margin: 1px;
}

aside input[type="text"] {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input[type="text"]:focus {
  background-color: rgb(236, 199, 199);
}


button[type="submit"] {
  padding: 5px;
  border-radius: 2px;
  padding-top: 7px;
}

.modBtn {
  display: flex;
  flex: row;
  justify-content: flex-end;
}

.editBtn, .delBtn, .msgBtn, .sendMsg, .cancelMsg {
  margin-left: 0.5rem;
}

.checkbox-label {
  display: inline-flex;
  align-items: bottom;
  font-size: 15px;
  white-space: nowrap;
  top: 13%;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="checkbox"]::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  padding: 3px;
}

input[type="checkbox"]:checked::before {
  content: '\2714';
  color: rgb(197, 60, 60);
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  font-weight: bold;
}

form {
  display: grid;
  width: 100%;
  place-items: center;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  padding: 20px;
  padding-top: 5rem;
  background-color: #f2f2f2;
  text-align: center;
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

section input[type="text"], input[type="password"] {
  margin: 0.5rem;
}


.offscreen {
  position: absolute;
  left: -9999px;
  top: auto;

  overflow: hidden;
}

.instructions {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.createdate {
  display: flex;
  gap: 1rem;
  font-size: 12px;
}

.realpostid{
  font-size: 12px;
  margin-top: 10px;
}

.wd {
  display: inline-flex;
}

#cat-select {
  margin-left: 0.5rem;
  padding: 5px;
  background-color: black;
  color: white;
}

.out {
  display: grid;
  place-content: center;
}

/* Message */
.profileMsg {
  border: 1px solid gray;
  padding: 2px;
  margin-top: 10px;
}


/* .content {
  grid-column: 2;
  grid-row: 3;

  padding: 8px;
  display: flex;

  background: #ddd;
  overflow: hidden;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
