@import url('https://fonts.cdnfonts.com/css/itc-benguiat-std');

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(172, 172, 172);
}

.body {
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  overflow-y: hidden;
}

/* .app {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 8px;
  
  height: 100%;
  width: 100%;

  overflow: hidden;

  background: #444;
} */

header {
  display: flex;
  justify-content: end;
  /* grid-template-columns: 320px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 8px; */

  width: 100%;
  height: 75px;;

  overflow: hidden;

  background: black;
  background-image: url("Stranger_Things.png");
  background-repeat: no-repeat;
  background-size: 200px 75px;
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  padding-right: 1rem;
}

button {
  color: white;
  background-color: black;
  padding: 0.5rem;
  font-family: ITC Benguiat Std;
}

button:hover {
  cursor: pointer;
    color: rgb(197, 60, 60);
    text-shadow:
        0 0 7px #b30404,
        0 0 10px #b90a0a,
        0 0 21px #ee0b0b,
        0 0 42px rgb(179, 71, 21),
        0 0 82px rgb(185, 49, 49),
        0 0 92px rgb(190, 65, 65),
        0 0 102px rgb(184, 79, 79),
        0 0 151px rgb(182, 87, 87);
}

.contents {
 display: flex;
 margin-top: 4.7rem;
}

main {
  /* flex: 3; */
  width: 75%;
  background-color: lightgray;
  padding: 0.5rem;
}

main div {
  border: 0.5px solid rgb(172, 172, 172);
  box-shadow: 0 0 4px gray;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
}


aside {
  /* flex: 1; */
  background-color: rgb(172, 172, 172);
  padding-left: 0.5rem;
  position: fixed;
  right: 0;
  width: 25%;
  height: 86%;
}

main h2, aside h2{
  margin-top: 1rem;
  text-align: center;
  font-family: ITC Benguiat Std;
}

aside p {
  font-size: 12px;
}

aside input {
  width: 97%;
}

aside button {
  display: block;
  margin: 0.5rem auto;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin: 0.5rem;
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  border-radius: 2px;
  margin: 1px;
}

aside input[type="text"] {
  margin-top: 1em;
}

input[type="text"]:focus {
  background-color: rgb(236, 199, 199);
}


button[type="submit"] {
  padding: 5px;
  border-radius: 2px;
  padding-top: 7px;
}

.editBtn, .delBtn {
  margin-right: 0.5rem;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  font-size: 10px;
  white-space: nowrap;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="checkbox"]::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
}

input[type="checkbox"]:checked::before {
  content: '\2714';
  color: rgb(197, 60, 60);
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  font-weight: bold;
}

#footer {
  width: 100%;
  background-color: #000;
  color: #fff;
}
/* .content {
  grid-column: 2;
  grid-row: 3;

  padding: 8px;
  display: flex;

  background: #ddd;
  overflow: hidden;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
